:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
h1, h2, p{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px;
}

p{
  word-wrap: break-word;
  max-width: 364px;
  height: auto;
}

#player, #comp {
  display: grid;
  /* padding-bottom: 5%; */
  gap: 0em;
  grid-template-rows: repeat(var(--grid-rows), 14.2%);
  grid-template-columns: repeat(var(--grid-cols), 14.2%);
}

/* *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
} */

.grid-item {
  padding: 1em;
  border: 1px solid #000000;
  text-align: center;
  background-image: url("../pics/ocean.jpeg");
  padding: 25px;
  font-family: verdana;
  font-weight: bold;
  color: whitesmoke;
  text-shadow: 1px 1px 1px grey;
  font-size: 10px;
  background-repeat: no-repeat;
  background-position-x: -65px;
  border: 2px solid skyblue;
  margin: 0%;
  
}

#hit:after {
  content: "\274c"; /* Big X */
  color: rgb(255, 0, 0);
  position: absolute;
  top: top + 2;
  width: 0%;
  height: 2%;
}

#miss:after {
  content: "\2B55"; /* Big Circle*/
  color: rgb(255, 0, 0);
  position: absolute;
}

button {
  color: red;
  font-weight: bold;
}

#gamePlay {
  display: grid;
  height: max-content;
  /* height: fit-content;
  block-size: fit-content; */
}

content {
  display: flex;
  flex-direction: column;
  margin: 0 25px ;
  overflow: visible;
}

section {
  left: 3px;
  display: flex;
  align-items: flex-end;
  max-width: 10000px;
  justify-content: center;
}

#startScreen {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#difficultySelection {
  display: none;
  flex-direction: column;
  align-items: center;
}

#gameOver {
  display: none;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 930px) {
  section {
    flex-direction: column;
  }
  #gamePlay {
    justify-items: center;
  }
}