:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
h1, h2{
  display: flex;
  align-items: center;
  justify-content: center;

}

#player,
#comp {
  display: grid;
  /* padding-bottom: 5%; */
  grid-gap: 0em;

  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  padding: 1em;
  border: 1px solid #000000;
  text-align: center;
  background-image: url("../pics/ocean.jpeg");
  padding: 15px;
  font-family: verdana;
  font-weight: bold;
  color: whitesmoke;
  text-shadow: 1px 1px 1px grey;
  font-size: 25px;
  background-repeat: no-repeat;
  background-position-x: -65px;
  z-index: 0;
  border: 2px solid skyblue;
}

#hit:after {
  content: "\274c"; /* Big X */
  color: rgb(255, 0, 0);
  z-index: 1;
}

#miss:after {
  content: "\2B55"; /* Big Circle*/
  color: rgb(255, 0, 0);
  position: absolute;
}

button {
  color: red;
  font-weight: bold;
}

#gamePlay {
  display: none;
}

#startScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#difficultySelection {
  display: none;
  flex-direction: column;
  align-items: center;
}

#gameOver {
  display: none;
  flex-direction: column;
  align-items: center;
}
